# Dependency directories
node_modules/

# IDE related
.idea
.vscode
# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

# svelte-kit output
.svelte-kit/

tmp

benchmarking/compare/.results